<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="/style/common/global.css">
  <link rel="stylesheet" href="/style/admin/header/header.css">
  <link rel="stylesheet" href="/style/admin/sidebar/sidebar.css">
  <link rel="stylesheet" href="/style/admin/articlelist/articlelist.css">
  <title></title>
</head>
<body>
<%- include('components/header') %>
<%- include('components/sidebar') %>
<div class="content-wrapper">
  <div class="content">
    <div class="total">
      <span>共找到 <b>0</b> 篇文章</span>
    </div>
    <div id="articles-wrapper" class="articles-wrapper">
      <div>数据加载中...</div>
    </div>
  </div>
</div>

<div id="comments-modal" class="modal-mask" style="display:none">
  <div class="comments-modal">
    <img class="modal-close-btn" src="/images/close_btn.svg" alt="">
    <div class="modal-header">
      <h4>文章标题</h4>
    </div>
    <div id="comments-wrapper" class="modal-body">
      <p class="empty">暂无评论</p>
    </div>
  </div>
</div>

<template id="article-tpl" type="text/x-jquery-tmpl">
{{each(index, item) data}}
  <div data-id="${item._id}" class="article-item">
    <h4>${item.title}</h4>
    <p>${item.summary}</p>
    <div class="btns-wrapper">
      <div class="btn btn-primary" role="btn-edit">编辑</div>
      {{if item.isDeleted === '0'}}
        <div class="btn btn-danger" role="btn-delete">下线</div>
      {{/if}}
      {{if item.isDeleted === '1'}}
        <div class="btn btn-warning" role="btn-recovery">上线</div>
      {{/if}}
      <div class="btn btn-success" role="btn-comments">评论管理(${item.commentsAmount})</div>
    </div>
  </div>
{{/each}}
</template>

<template id="comments-tpl" type="text/x-jquery-tmpl">
{{each(index, item) data}}
  <div data-id="${item._id}" class="comment-item">
    <span>${item.nickname}</span>
    <p>${item.comment}</p>
    <div class="btn btn-danger" role="delete-comm-btn">删除</div>
  </div>
{{/each}}
</template>

<script src="/js/library/jquery3.3.1.min.js"></script>
<script src="/js/library/jquery.tmpl.min.js"></script>
<script src="/js/articleList.js"></script>
</body>
</html>
