<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="/style/common/global.css">
  <link rel="stylesheet" href="/style/admin/header/header.css">
  <link rel="stylesheet" href="/style/admin/sidebar/sidebar.css">
  <link rel="stylesheet" href="/style/admin/articlenew/articlenew.css">
  <title></title>
</head>
<body>
<%- include('components/header') %>
<%- include('components/sidebar') %>
<div class="content-wrapper">
  <div class="content">
      articlenew
  </div>
</div>
</body>
</html>
