<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="/style/common/global.css">
  <link rel="stylesheet" href="/style/admin/signin/signin.css">
  <title></title>
</head>
<body>
<div class="container">
  <div class="login-wrapper">
    <div class="form-group">
      <div>
        <img class="username" src="/images/username.svg" alt="">
        <input class="username" type="text" placeholder="填写同户名">
      </div>
      <div>
        <img class="password" src="/images/password.svg" alt="">
        <input class="password" type="password" placeholder="填写密码">
      </div>
      <div>
        <div id="login-btn" class="btn">登录</div>
      </div>
    </div>
  </div>
</div>

<script src="/js/library/jquery3.3.1.min.js"></script>
</body>
</html>
