@import '../../utils.less';
.content-wrapper{
  padding: 0 30px;
  margin-left: 140px;
  box-sizing: border-box;
  .content{
    width: 100%;
    margin-top: 30px;
    .total{
      width: 1200px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .articles-wrapper{
      width: 1200px;
      margin: 0 auto;
      margin-bottom: 70px;
      .flex-layout(flex, row wrap, space-between, flex-start);
      .article-item{
        width: 570px;
        margin: 0 15px 20px 0;
        padding: 10px;
        background: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
        border-radius: 4px;
        &:nth-of-type(2n){
          margin-right: 0;
        }
        h4, p{
          margin-bottom: 10px;
        }
        p{
          word-wrap: normal;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
      }
    }
  }
}
