@import '../utils.less';
.main{
  width: 1100px;
  height: auto;
  padding: 16px 10px;
  margin: 20px auto;
  background: #fff;
  .category-tags{
    width: 100%;
    ul{
      .flex-layout(flex, row wrap, flex-start, center);
      li{
        font-weight: bold;
        cursor: pointer;
        margin: 10px 23px 10px 0;
        a{
          transition: all .1s ease-in;
        }
        &:hover a{
          color: @primary-color;
        }
        &.active a{
          color: @primary-color;
        }
      }
    }
  }
  .content-area{
    margin-top: 40px;
    .flex-layout(flex, row nowrap, space-between, flex-start);
    .articles-wrapper{
      width: 680px;
      .article-item{
        width: 100%;
        margin-top: 14px;
        color: @font-light-color;
        border-bottom: 1px solid #eee;
        .flex-layout(flex, column nowrap, flex-start, flex-start);
        &:first-of-type{
          margin-top: 0;
        }
        .article-header{
          .published-at{
            margin-left: 20px;
          }
        }
        h3{
          cursor: pointer;
          color: @font-bold-color;
          margin: 14px 0;
          transition: color, .2s ease-in-out;
          &:hover{
            color: @primary-color;
          }
        }
        p{
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
        .article-footer{
          margin: 14px 0;
          .comments-wrapper{
            cursor: pointer;
            .flex-layout(flex, row nowrap, flex-start, center);
            transition: all .2s ease-in-out;
            &:hover{
              filter: brightness(.85);
            }
            .comments{
              margin: -1px 0 0 4px;
            }
          }
        }
      }
    }
    .other-info-wrapper{
      width: 390px;
      height: 200px;
      p{
        font-weight: bold;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .main{
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    .content-area{
      width: 100%;
      margin-top: 20px;
      .articles-wrapper{
        width: 100%;
      }
      .other-info-wrapper{
        display: none;
      }
    }
  }
}
