<div class="other-info-wrapper">
  <div class="links">
    <p>相关链接</p>
    <div class="wrapper">
      <a href="#" class="item">
        <p>知乎</p>
      </a>
      <a href="#" class="item">
        <p>Github</p>
      </a>
      <a href="#" class="item">
        <p>简书</p>
      </a>
      <a href="#" class="item">
        <p>知乎</p>
      </a>
      <a href="#" class="item">
        <p>Github</p>
      </a>
      <a href="#" class="item">
        <p>简书</p>
      </a>
    </div>
  </div>
</div>
