<div class="other-info-wrapper">
  <div class="links">
    <p>相关链接</p>
    <div class="wrapper">
      <div class="item">
        <p>知乎</p>
      </div>
      <div class="item">
        <p>Github</p>
      </div>
      <div class="item">
        <p>简书</p>
      </div>
    </div>
  </div>
</div>
