<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="/style/common/global.css">
  <link rel="stylesheet" href="/style/common/nav.css">
  <link rel="stylesheet" href="/style/about/about.css">
  <title>桑绍峰的博客-关于</title>
</head>
<body>

<div class="">
  <%- include('components/nav') %>
  <div class="main">

    <div class="sidebar">
      <ul id="tab-list">
        <li><a href="#about-blog">关于博客</a></li>
        <li><a href="#about-me">关于我</a></li>
        <li><a href="#contract">联系方式</a></li>
      </ul>
    </div>

    <div class="content">
      <div class="about">
        <h3 id="about-blog">关于博客</h3>
        <p>一直以来都有个想自己开发一个博客的想法，一开始的打算是用博客之类的模板，后来想着不如自己开发一个，既能熟悉体验到整个开发和部署流程，
          又能随心所欲的定制博客的整个样式，于是在2017年6月买了一个域名和一个云虚拟主机，然后就是域名备案。域名备案成功之后，才发现普通的云虚
          拟主机不能满足高度定制的需求，然后就又买了一个ECS云服务器。这样该准备的硬件支持就全都有了，接下来就是开发了。
        </p>
        <p>其实开发这部分也没什么复杂的东西，主要就是写业务代码，主要的问题就是服务端的服务，因为我是做前端的，后端经验不多，只是知识稍微了解一点
          服务端知识。不过幸好node.js的存在使得大量前端开发者也能用js做“全栈”，全栈为什么加引号呢？个人还是觉得只会node.js和数据库知识还不能
          完全称为一个合格的后端，要想完全全栈开发还有好多知识要学。所以对于我自己来说，平时除了前端工作，偶尔也看看后端的知识，补补基础，毕竟对于
          技术这行，新的技术总在发生变化，没有这些理论支撑可能就要被落下。
        </p>
        <p>
          博客技术(其实也没什么技术)主要以node.js和mongodb为主，html模板使用的是ejs模板，部分数据的展示是直接服务器生成的html发送给
          客户端，数据请求使用ajax请求。路由方面使用的是node的express框架，数据库驱动是mongodb基于node.js的mongoos驱动。服务端的的开发主要是
          数据接口的开发，在使用express开发接口时，主要的问题就是处理各种回调。不过现在async的流行让回调变得越来越容易处理，我这里由于当时缺乏经验，
          没有使用async，以后的版本可能会尝试一下。写完这些代码回过头一看才发现自己当时写的有多烂 >_<，重构是挺麻烦的，幸好是自己的东西勉强能看得过去，
          不过对于前端代码，我对自己就要求比较高了，肯定不允许自己写出这样的代码。
        </p>
        <p>
          在开发和部署过程中也是遇到了很多的问题，比如刚开始连接数据库出现问题，返回数据不能解析json问题，session缓存问题等等。最后发现在使用node
          开发时大多问题都是一个npm包就能解决的 >_<，如果还有问题，那就两个包:)，不得不说node的生态也是越来越完善了。不过个人认为，我虽然将node.js
          作为服务端服务，但好像在国内一些大公司并没有把公司核心的计算任务交给node，即使是淘宝大面积上使用node也仅仅是局限于中间层的开发便于前后端分离
          后端依然是传统语言java。当然node.js的出现也是给前端工程师带来了更过机会，不过还是之前讲的，作为前端工程师们，不能一劳永逸呀，要多学习一些后端知识。
        </p>
        <p>
          话题扯远了，刚刚说到遇到了很多问题，我觉得最大的问题就是服务器部署了。我用的是ECS云服务器的linux系统，在部署代码前需要安装很多东西：
          apache（http请求代理），node.js，express（路由管理），pm2（node进程管理），git（源代码管理），mongodb（数据存储），安装好这些东西，
          记得好像还需要配置一下阿里云的安全组策略，保证博客启动的端口能被外网访问，然后从github拉取代码，进入源码目录使用pm2启动，这里遇到一个到现在
          都不确定的问题，就是第一次使用pm2启动并watch监听时会加载不到css文件，然后重新启动一下不带watch参数就行了。这时候直接访问博客就能正常访问了。
        </p>
        <p>
          说了这么多，好像也没什么重点。做这个博客的初衷也很简单，就是记录自己的学习历程，或者有时候是当做笔记。如果你看到我的博客并且也很喜欢写代码，欢迎联系我，
          大家一起交流。如果博客中的内容有任何侵权的存在，请联系我，我会尽快删除。如果你想转载，可以随意转载，但转载时请注明出处。非常感谢！
        </p>
      </div>

      <div class="">
        <h3 id="about-me">关于我</h3>
        <p>敬请期待...敬请期待...敬请期待...敬请期待...敬请期待...</p>
      </div>

      <div class="contract">
        <h3 id="contract">联系方式</h3>
        <p>邮箱：3241113254@qq.com</p>
        <p>微信：sang3241113524，或扫描下方二维码</p>
        <div class="qrcode">
          <img src="/images/qrcode.jpg" alt="">
        </div>
      </div>
      
    </div>
  </div>
</div>

<script src="/js/library/jquery3.3.1.min.js"></script>
<script>
  
</script>
</body>
</html>
