<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="/style/common/global.css">
  <link rel="stylesheet" href="/style/common/nav.css">
  <link rel="stylesheet" href="/style/about/about.css">
  <title>桑绍峰的博客-关于</title>
</head>
<body>

<div class="">
  <%- include('components/nav') %>
  <div class="main">

    <div class="sidebar">
      <ul id="tab-list">
        <li><a href="#about-blog">关于博客</a></li>
        <li><a href="#about-me">关于我</a></li>
        <li><a href="#contract">联系方式</a></li>
      </ul>
    </div>

    <div class="content">
      <div class="about">
        <h3 id="about-blog">关于博客</h3>
        <p>一直以来都有个想自己开发一个博客的想法，</p>
        <p>大概用了一个半月的时间(主要是平时下班休息的时间)，这个博客终于能放到服务器正常访问了。这也是第一次一个人做一个完整的服务应用，期间踩了很多坑，不过最后问题都解决了，可能这个博客还存在一些问题
          ，以后也会慢慢完善。
        本来在去年有用Node.js + MySQL搞了一个博客，基本快完成了，但自己各种不满意，最终还是放弃了MySQL作为数据存储，采用了MongoDB。
        这个项目源码还在github上：<a href="https://github.com/sangshaofeng/MyBlog" target="_blank">https://github.com/sangshaofeng/MyBlog</a>
        ，不过不打算维护了。目前就用这个博客了。</p>
        <p>写博客的初衷主要是学习记录，将一些平时工作学习常见的知识点或者好的方法记录下来。由于我是做前端的，所以目前主要是以关于前端的知识为主，可能也会有些别的内容。后续会慢慢记录一些关于别的领域的知识。
        </p>
        <p>博客系统完全是自己一人开发，没有使用Wordpress，测试和部署也都是一人，或多或少会存在一些bug缺陷。比如，由于使用了flex布局，所以该博客是不兼容IE10以下版本的浏览器的。如果您发现那些问题，欢迎提出批评指正。我的邮箱：3241113254@qq.com。
        </p>
      </div>

      <div class="">
        <h3 id="about-me">关于我</h3>
        <p>敬请期待...敬请期待...敬请期待...敬请期待...敬请期待...</p>
      </div>

      <div class="">
        <h3 id="contract">联系方式</h3>
        <p>敬请期待...敬请期待...敬请期待...敬请期待...敬请期待...</p>
      </div>
      
    </div>
  </div>
</div>

<script src="/js/library/jquery3.3.1.min.js"></script>
<script>
  
</script>
</body>
</html>
