<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="/style/common/global.css">
  <link rel="stylesheet" href="/style/common/nav.css">
  <link rel="stylesheet" href="/style/about/about.css">
  <title>桑绍峰的博客-关于</title>
</head>
<body>

<div class="">
  <%- include('components/nav') %>
  <div class="main">
    <div class="banner">

    </div>
    <div class="article">
      <p>大概用了一个半月的时间，这个博客终于能放到服务器正常访问了。期间踩了很多坑，这也是第一次一个人做一个完整的服务应用。
      本来在去年有用Node.js + MySQL搞了一个博客，基本快完成了，但自己各种不满意，最终还是放弃了MySQL作为数据存储，采用了MongoDB。
      这个项目源码还在github上：<a href="https://github.com/sangshaofeng/MyBlog" target="_blank">https://github.com/sangshaofeng/MyBlog</a>
      ，不过不打算维护了。目前就用这个博客了。</p>
      <p></p>
    </div>
  </div>
</div>
</body>
</html>
