<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="/style/common/global.css">
  <link rel="stylesheet" href="/style/common/nav.css">
  <link rel="stylesheet" href="/style/about/about.css">
  <title>桑绍峰的博客-关于</title>
</head>
<body>

<div class="">
  <%- include('components/nav') %>
  <div class="main">
    <div class="banner">

    </div>
    <div class="article">
      <p>这个博客是利用平时业余时间完成的，从前端到后端到部署服务器都是一个人搞的，做个人博客主要是方便自己平时工作学习的总结，顺便记记笔记，
        可能有一些地方做的不是很完善（平时上班，时间也不充足），如果您有什么意见或建议感谢能献出您宝贵的想法。我的邮箱 <a href="javascript:void(0)">3241113254@qq.com</a>
      </p>
      <p>
        如果博客中的文章或内容有侵权，请您及时告知，我会及时删除。
      </p>
      <p>
        同时，欢迎热爱技术喜欢研究技术的朋友常来光顾我的博客，可以在文章下方留言，一起探讨问题，一起进步。
      </p>
    </div>
  </div>
</div>
</body>
</html>
