<div class="sidebar-nav">
  <div class="title">Blog Console</div>
  <ul>
    <li <%= menu === 'articlelist' ? 'class=active' : '' %>><a href="#">文章列表</a></li>
    <li <%= menu === 'articlenew' ? 'class=active' : '' %>><a href="#">新建文章</a></li>
  </ul>
</div>
